<tr>
                                       <td valign="top" style="padding: 32px 48px 0px;">
                                          <!-- <div
                                             style="color: rgb(99,99,99);font-size: 14.0px;line-height: 150.0%;text-align: left;"> -->
                                          <div style="text-align: center">
                                             <a href="https://imgbb.com/">
                                                <img src="https://i.ibb.co/Yh1bXRn/Frame-14442.png" alt="Frame-14442"
                                                   border="0">
                                             </a>
                                          </div>
                                          <p
                                             style="margin: 0 0 4px; padding: 10px 0 5px 0; color: #383d42; text-align: center;     font-weight: 600;">
                                            {{h1}}</p>
                                          <h1
                                             style=" font-weight: 500; font-size: 35px; line-height: 100.0%;margin: 0;text-align: center;color:#383d42;">
                                               {{title}}
                                          </h1>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td valign="top" style="padding: 0px 48px 0px;">
                                          <h1
                                             style="font-weight: 600; font-size: 18px; padding-top:40px;line-height: 100.0%;margin: 0;color:#383d42;">
                                             {{hi}} {{name}},
                                          </h1>
                                          <p
                                             style="font-weight: 400; margin: 0 0 4px; padding: 10px 0 5px 0; font-size: 16px; color: #595959;  ">
                                           {{treatmentName}} {{description}}
                                          </p><br><br>
                                       </td>
                                    </tr>

                             
                                             </tbody>
                                          </table>

                                       </td>
                                    </tr>