<!-- header -->
<table
  width='100%'
  cellspacing='0'
  cellpadding='0'
  border='0'
  role='presentation'
>
  <tbody>
    <tr>
      <td
        class='o_bg-light o_px-xs o_pt-lg o_xs-pt-xs'
        align='center'
        style='
background-color: white;
/* padding-left: 8px;
padding-right: 8px;
padding-top: 32px; */
'
      >
        <table
          class='o_block'
          width='100%'
          cellspacing='0'
          cellpadding='0'
          border='0'
          role='presentation'
          style='max-width: 632px; margin: 0 auto'
        >
          <tbody>
            <tr>
              <td
                class='o_bg-white o_px-md o_py-xl o_xs-py-md o_sans o_text-md o_text-light'
                align='center'
                style='
font-family: Poppins, sans-serif;
margin-top: 0px;
margin-bottom: 0px;
font-size: 19px;
line-height: 28px;
background-color: #ffffff;
color: #82899a;
padding-left: 24px;
padding-right: 24px;
padding-top: 47px;
padding-bottom: 50px;
'
              >
                <table
                  cellspacing='0'
                  cellpadding='0'
                  border='0'
                  role='presentation'
                >
                  <tbody>
                    <tr>
                      <td
                        class='o_sans o_text o_text-white o_bg-primary o_px o_py o_br-max'
                        align='center'
                        style='
font-family: Poppins, sans-serif;
margin-top: 0px;
margin-bottom: 0px;
font-size: 16px;
line-height: 24px;
padding-left: 16px;
padding-right: 16px;
padding-bottom: 0px;
'
                      >
                        <a href='https://imgbb.com/'><img
                            src='https://i.ibb.co/Yh1bXRn/Frame-14442.png'
                            width='103'
                            alt=''
                            style='
-ms-interpolation-mode: bicubic;
vertical-align: middle;
border: 0;
line-height: 100%;
height: auto;
outline: none;
text-decoration: none;
'
                          />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <h1
                  style='
font-size: 35px;
line-height: 42px;
margin-top: 0px;
margin-bottom: 0px;
color: #383d42;
font-weight: 500;
'
                >
                  {{title}}
                </h1>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table
  width='100%'
  cellspacing='0'
  cellpadding='0'
  border='0'
  role='presentation'
>
  <tbody>
    <tr>
      <td
        class='o_bg-light o_px-xs'
        align='center'
        style='
background-color: white;
padding-left: 8px;
padding-right: 8px;
'
      >
        <table
          class='o_block'
          width='100%'
          cellspacing='0'
          cellpadding='0'
          border='0'
          role='presentation'
          style='max-width: 632px; margin: 0 auto; '
        >
          <tbody>
            <tr>
              <td
                class='o_bg-white o_px-md o_py-md o_sans o_text o_text-secondary'
                align='left'
                style='
font-family: Poppins, sans-serif;
margin-top: 0px;
margin-bottom: 0px;
font-size: 16px;
line-height: 24px;
background-color: #ffffff;
color: #424651;
padding-left: 24px;
padding-right: 24px;
'
              >
                <h1
                  class='o_mb-xs'
                  style='
font-size: 18px;
color: #383d42;
font-weight: 600;
margin-top: 0px;
margin-bottom: 17px;
'
                >
                  {{dear}}
                  {{user_name}},
                </h1>
                <p
                  class='o_mb-xs'
                  style='
margin-top: 0px;
margin-bottom: 14px;
margin-right: 15px;
color: #595959;
font-weight: 400;
text-align: justify;
'
                >
                  {{p1}}
                   <br />{{p2}}
                  <a href='{{guidelinesLink}}'>{{taphere}}</a>.
                  {{p3}}
                  {{p4}}
                </p>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  width='100%'
  cellspacing='0'
  cellpadding='0'
  border='0'
  role='presentation'
>
  <tbody>
    <tr>
      <td
        class='o_bg-light o_px-xs'
        align='center'
        style='
              background-color: white;
              padding-left: 8px;
              padding-right: 8px;
            '
      >
        <table
          class='o_block'
          width='100%'
          cellspacing='0'
          cellpadding='0'
          border='0'
          role='presentation'
          style='max-width: 632px; margin: 0 auto'
        >
          <tbody>
            <tr>
              <td
                class='o_bg-white o_px-md o_py-md o_sans o_text o_text-secondary'
                align='left'
                style='
                      font-family: Poppins, sans-serif;
 
                      margin-top: 0px;
                      margin-bottom: 0px;
                      font-size: 16px;
                      line-height: 24px;
                      background-color: #ffffff;
                      color: #424651;
                      padding-left: 24px;
                      padding-right: 24px;
                      padding-bottom: 30px;
 
                    '
              >
                <h1
                  class='o_mb-xs'
                  style='
                        font-size: 18px;
                        color: #383d42;
                        font-weight: 600;
                        margin-top: 35px;
                        margin-bottom: 7px;
                      '
                >
                  {{thank_you}}
                </h1>
                <p
                  class='o_mb-xs'
                  style='
                        margin-top: 0px;
                        margin-bottom: 23px;
                        margin-right: 15px;
                         margin-left: 0px;
                        color: #595959;
                        font-weight: 400;
                      '
                >
                  {{superbrains_team}}
                </p>
                <table
                  width='100%'
                  cellspacing='0'
                  cellpadding='0'
                  border='0'
                  role='presentation'
                >
                  <tbody>
                    <tr>
                      <td
                        class='o_bb-light'
                        style='font-size: 8px;line-height: 8px;height: 8px;border-bottom: 1px solid #d3dce0;'
                      >&nbsp; </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>